{% extends 'base/base.html' %}
{% load custom_filters %}
{% load buttons %}


{% block head_title %}
    {{ object }} 
{% endblock %}


{% block content %}

<section class="page-header">
    <div class="row">
        <div class="col-8">            
            <div class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% list_view_url object %}"> {{ object|verbose_name_plural }} </a></li>
                    <li><a href="#"> {{ object }} </a></li>
                </ol>
            </div>            
        </div>
        <div class="col-4">            
            <div class="page-buttons text-right">                
                {% edit_button object %}
                {% delete_button object %}
            </div>            
        </div>
    </div>     
</section>

<section class="page-heading">
    <div class="row mt-4">
        <div class="col text-center">
            <h1> {{ object }} </h1> 
        </div>
    </div>
</section>

<section class="page-content">
    <div class="row mt-4">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <strong> Interview Details </strong>
                </div>
                <table class="table table-sm card-body">
                    <tr>
                        <td> Job Position </td>
                        <td> <a href="{{object.job_position.get_absolute_url}}">{{ object.job_position }} </a></td> 
                    </tr>
                    <tr>
                        <td> Date Scheduled </td>
                        <td> {{ object.date_sch }} </td> 
                    </tr>
                    <tr>
                        <td> Resume </td>
                        <td> <a href="{{object.resume.get_absolute_url}}">{{ object.resume}} </a></td> 
                    </tr>
                </table>
            </div>
            
            <div class="card mt-4">
                <div class="card-header">
                    <strong> Category and Tags </strong>
                </div>            
                <table class="table table-sm card-body">         
                    <tr>
                        <td> Category </td>
                        <td> 
                            {% if object.category %}
                                <a href="{{ object.category.get_absolute_url }}">
                                    <span class="badge badge-cat">{{ object.category.name }}</span>
                                </a>
                            {% else %}
                                <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td> 
                    </tr>                
                    <tr>
                        <td> Tags </td>
                        <td> 
                            {% if object.tags.all %}
                                {% for tag in object.tags.all %}
                                    <a href="{{ tag.get_absolute_url }}">
                                        <span class="badge badge-tag">{{ tag.name }}</span>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <span class="text-muted">&mdash;</span>
                            {% endif %} 
                        </td> 
                    </tr>                                      
                </table>            
            </div>
                
        </div><!--col-->

        <div class="col-8">
            <div class="card mb-4">
                <div class="card-header">
                    <strong> Notes </strong>
                </div>
                <div class="card-body">         
                    {{ object.notes|safe }} 
                </div>
            </div>
        </div>
    </div><!-- row-->
</section>

{% endblock %}
