{% extends 'base/base_form_popup.html' %}


{% block head_title %}
    {% if object.pk %} Edit {{ object }} 
    {% else %} Add a new {{ obj_type }} 
    {% endif %}
{% endblock %}


{% block content %} 

<form action="" method="post" enctype="multipart/form-data" class="form form-horizontal">

    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}    

        <section class="page-heading">
            <div class="row">    
                <div class="col text-center">
                    <h2> 
                        {% if object.pk %} 
                            Editing {{ obj_type }} {{ object }} 
                        {% else %} 
                            Add a new {{ obj_type|title }} 
                        {% endif %}
                    </h2>
                </div>
            </div>
        </section>
                    
        {% if form.non_field_errors %}
        <div class="row">
            <div class="col">
                <div class="card text-white bg-danger">
                    <div class="card-header"><strong>Errors</strong></div>
                    <div class="card-body">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            </div>
        </div>    
        {% endif %}

        {% if popup %} 
                <input type="hidden" name="_popup" value="1">  
        {% endif %}

        <section class="page-content">
                
            <div class="row mt-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <strong>{{ obj_type|title }} Details</strong>
                        </div>

                        <div class="card-body">     
                            <div class="form-row align-items-center">
                                <div class="col-2">
                                    <label for="{{ form.job_type.id_for_label }}" class="col-form-label"> Job Type </label>
                                </div>
                                <div class="col">
                                    {% if form.job_type.errors %}                
                                        {% for error in form.job_type.errors %}
                                            <li class="text-danger"><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}                
                                    {% endif %}
                                    {{ form.job_type }}
                                </div>
                            </div>  
                        </div>    
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col text-right">
                    <button class="btn btn-save" type="submit"> Save </button> 
                </div>    
            </div> 
            
        </section>       
    </form>        
    
{% endblock %}


