{% extends 'base/base_datatables.html' %}
{% load custom_filters %}
{% load buttons %}
{% load static %}


{% block head_title %}
    {{ object }} 
{% endblock %}


{% block content %}

<section class="page-header">
    <div class="row">
        <div class="col-8">            
            <div class="breadcrumbs">
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% list_view_url object %}"> {{ object|verbose_name_plural }} </a></li>
                    <li><a href="#"> {{ object }} </a></li>
                </ol>
            </div>            
        </div>
        <div class="col-4">            
            <div class="page-buttons text-right">                
                {% edit_button object %}
                {% delete_button object %}
            </div>            
        </div>
    </div>     
</section>

<section class="page-heading">
    <div class="row mt-4">
        <div class="col text-center">
            <h1> {{ object }} </h1> 
        </div>
    </div>
</section>

<section class="page-content">

    <div class="row mt-4">
        <div class="col"> 
            <h4 class="text-center"> Job Positions </h4>       
            <table class="table table-sm resumesTable compact responsive mt-4">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Location</th>
                        <th>Salary</th>
                        <th>Date Found</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in job_positions %}
                    <tr>
                        <td> <a href="{{ item.get_absolute_url }}"> {{ item.title }} </a> </td>
                        <td> <a href="{{ item.company.get_absolute_url }}"> {{ item.company }} </a> </td>
                        <td> <a href="{{ item.location.get_absolute_url }}"> {{ item.location }} </a> </td>
                        <td> {{ item.salary|placeholder }} </td>
                        <td>{{ item.date_found|placeholder }}</td>
                    </tr>                        
                    {% endfor %}
                </tbody>
            </table>               
        </div>
    </div> 
</section>

{% endblock %}


